<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>troy.stockwatcher.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/stockwatcher/greet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsonStockData</servlet-name>
    <servlet-class>troy.stockwatcher.server.JsonStockData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsonStockData</servlet-name>
    <url-pattern>/stockwatcher/stockPricesJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stockPriceServiceImpl</servlet-name>
    <servlet-class>troy.stockwatcher.server.StockPriceServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stockPriceServiceImpl</servlet-name>
    <url-pattern>/stockwatcher/stockPrices</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>StockWatcher.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Sample Servlet</description>
    <display-name>StockWatcherServlet</display-name>
    <servlet-name>StockWatcherServlet</servlet-name>
    <servlet-class>com.example.myproject.StockWatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockWatcherServlet</servlet-name>
    <url-pattern>/stockwatcher</url-pattern>
  </servlet-mapping>
</web-app>